<div class="playlist-wrapper songs">
  <div class="box-title">Songs <span>(<%= @tracks.count %> items)</span></div>
    <%= render partial: "tracks/track", collection: @tracks, as: :track %> 
</div>

<div class="playlist-wrapper favourites">
  <div class="box-title">Favourites <span>(3 items)</span></div>
  <%= render partial: "tracks/track", collection: @favorite_tracks, as: :track %> 
</div>
